@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
.main{
    display: flex;
    flex-direction: row;
    position: relative;
}
.mapsearch{
    position: absolute;
    top:20px;
    left:20px;
    z-index: 1;
}

body {
  margin: 0;
  padding: 0;
}