// 定義共用的顏色和字體等變數
$primary-border: 2px solid #000;
$primary-color: #000;
$background-color: #fff;
$primary-font: Permanent Marker;
$primary-font-size: 24px;

.wholePage {
  border-radius: 25px;
  border: $primary-border;
  background: $background-color;
  padding: 5%;
  width: 70%;
  height: 50vh;

  // 抽取共同的文字樣式
  .fontType {
    color: $primary-color;
    font-family: $primary-font;
    font-size: $primary-font-size;
    font-style: normal;
    font-weight: 400;
    line-height: $primary-font-size;
    margin-right: 20px;
  }

  .fontType_right {
    @extend .fontType;
    margin-left: auto;
  }

  // 抽取共同的輸入框樣式
  .inputFrame, .inputFrameLocation, .inputFramePrice {
    border-radius: 25px;
    border: $primary-border;
    background: $background-color;
    height: 2rem;
  }

  .inputFrame, .inputFrameLocation {
    width: 60%;
  }

  .inputFramePrice, .filter, .confirmCreate {
    width: 15%;
  }

  .filter, .confirmCreate {
    font-family: $primary-font;
    font-size: 20px;
    line-height: 16px;
    border-radius: 30px;
    border: $primary-border;
    background: $background-color;
    cursor: pointer;
  }

  .confirmCreate {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2d6047;
    color: $background-color;
    margin-left: auto;
    height: 3rem;
  }

  // 定義區塊間距
  .titleAndType, .contentAndPic, .loactionAndPrice {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }

  .contentAndPic .inputFrame {
    height: 20vh;
  }

  .uploadPic {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: $primary-border;
    background: $background-color;
    width: 20%;
    height: 20vh;
    margin-left: auto;
    color: $primary-color;
    font-family: $primary-font;
    font-size: $primary-font-size;
    line-height: $primary-font-size;
  }
}
