.wholePage {
  border-radius: 25px;
  border: 2px solid #000;
  background: #eefcee;
  padding: 5%;

  width: 70%;
  height: 50vh;
  .titleAndType {
    display: flex;
    align-items: center; /* 垂直置中 */
    margin-bottom: 3rem;

    .fontType {
      color: #000;
      font-family: Permanent Marker;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      margin-right: 20px;
    }
    .inputFrame {
      border-radius: 25px;
      border: 2px solid #000;
      background: #fff;
      height: 2rem;
      width: 30%;
    }
    .filter {
      color: #000;
      font-family: Permanent Marker;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      border-radius: 30px;
      border: 2px solid #000;
      background: #fff;
      text-align: center;
      cursor: pointer;
    }
  }
  .contentAndPic {
    display: flex;
    align-items: center; /* 垂直置中 */
    margin-bottom: 3rem;

    .fontType {
      color: #000;
      font-family: Permanent Marker;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      margin-right: 20px;
    }
    .inputFrame {
      border-radius: 25px;
      border: 2px solid #000;
      background: #fff;
      height: 2rem;
      width: 60%;
      height: 20vh;
    }
    .uploadPic {
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 25px;
      border: 4px solid #000;
      background: #fff;
      width: 20%;
      height: 20vh;
      margin-left: 5%;

      color: #000;
      font-family: Permanent Marker;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      margin-right: 20px;
    }
  }
  .loactionAndPrice {
    display: flex;
    align-items: center; /* 垂直置中 */
    margin-bottom: 3rem;

    .fontType {
      color: #000;
      font-family: Permanent Marker;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      margin-right: 20px;
    }
    .inputFrameLocation {
      border-radius: 25px;
      border: 2px solid #000;
      background: #fff;
      height: 2rem;
      width: 60%;
    }
    .inputFramePrice {
      border-radius: 25px;
      border: 2px solid #000;
      background: #fff;
      height: 2rem;
    }
  }
  .confirmCreate {
    display: flex;
    justify-content: center;
    align-items: center; /* 垂直置中 */
    align-self: center;

    border-radius: 25px;
    border: 2px solid #000;
    background: #2d6047;

    color: #fff;
    font-family: Permanent Marker;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-right: 5%;
    margin-left: auto;

    height: 3rem;
    width: 15%;
  }
}
