$common-font: 'Noto Serif TC', serif;
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.ItemBoard{
    width: 70rem;
    height: 32.6875rem;
    flex-shrink: 0;
    border-radius: 1.5625rem;
    border: 2px solid #2D6047;
    background: #2D6047;
    display:flex;
    flex-direction: row;
    font-family: $common-font;
    animation: fadeIn 1s ease-in-out;
.rightblock{
    display: flex;
    align-items: center;
    width:40%;
    padding: 5%;
    .Pic{
        width: 25rem;
        height: 25rem;
        flex-shrink: 0;
        border-radius: 1.25rem;
        border: 0px solid #000;
        background:  lightgray 50% / cover no-repeat, #FFF;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        object-fit: cover;
        &:hover {
            transform: scale(1.05);
            opacity: 0.8;
        }
    }
}
.leftblock{
    display: flex;
    width:60%;
    padding-top: 5%;
    flex-direction: column;
    .div1{
        display: flex;
        justify-content: space-between;
        
        .itemname{
            height: 2.3125rem;
            flex-shrink: 0;
            color: #FFF;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: bold;
        }
        .dateAndTag{
            .createdate{
                width: 7.75rem;
                height: 1.75rem;
                flex-shrink: 0;
                color: #FFF;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                margin-left: 0.5rem;;
            }
            .tags{
                display: flex;
                width: 5.866rem;
                height: 2.25rem;
                flex-shrink: 0;
                border-radius: 1.875rem;
                border: 0px solid #000;
                background: #FFF;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .line{
        width: 90%;
        height: 0.125rem;
        background: #FFF;
        margin-top:1rem;
    }
    .div2{
        color: #FFF;
        font-size: 1rem;
        font-style: normal;
        line-height: 2rem;
        .title{
            display: flex;
            flex-direction: row;
            font-weight: bold;
            font-size: 1rem;
        }
    }
    .counterboard{
        display:flex;
        flex-direction: row;
        width: 10.0625rem;
        height: 2.875rem;
        flex-shrink: 0;
        border-radius: 1.875rem;
        background: #D9D9D9;
        justify-content: space-around;
        margin-top: 1rem;
        .countermiddle{
            display: flex;
            width: 5rem;
            flex-shrink: 0;
            border-radius: 1.875rem;
            background: #FFF;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            font-weight: bold;
        }
        .plusminus{
            background: none;
            cursor: pointer;
            border: none;
            font-size: 2rem;
            
        }
    }
    .div3{
        margin-top: 1.5rem;
        display: flex;
        flex-direction:row;
    }
    .seller{
        display: flex;
        flex-direction:row;
        color: #FFF;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem; /* 120% */
        margin-right: 1rem;
        .sellerPic{
            border-radius: 50px;
            flex-shrink: 0;
            fill:  lightgray 50% / cover no-repeat;
            margin-right: 1rem;
            object-fit: cover;
        }
        .sellerphone{
            margin-top: 0.5rem;
        }
    }
    .btn{
        width: 7rem;
        height: 2.8515rem;
        flex-shrink: 0;
        border-radius: 1.875rem;
        border: 0px solid #000;
        background: #FFF;
        color: #2D6047;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem; /* 120% */
        margin-top: 0.5rem;
        margin-right: 0.5rem;
        font-weight: bold;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
    }
}
}