.ItemBoard{
    position: relative;
    width: 15.25rem;
    height: 18.125rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #FFF;
    .ItemPic{
        width: 100%;
        height: 13.6875rem;
        flex-shrink: 0;
        border-radius: 1.25rem;
        object-fit: cover;
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease; /* 加入動畫過渡效果 */
        padding:0;
        border: none;
        &:hover {
            transform: scale(1.02); /* 放大效果 */
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* 陰影效果 */
        }
        .Pic{
            border-radius: 1.25rem;
            object-fit: cover
        }
    }
    .ItemDetail{
        display: flex;
        flex-direction: column;
        font-weight: bold;
        position: absolute;  
        bottom: 10px;       
        .ItemDetailName{
            color: #000;
            font-family:'Noto Serif TC', serif;
            font-size: 1.125rem;
            font-style: normal;
            line-height: 1.5rem; /* 133.333% */
        }
        .ItemDetailPrice{
            color: rgba(0, 0, 0, 0.50);
            font-family:'Noto Serif TC', serif;
            font-size: 1.125rem;
            font-style: normal;
            line-height: 1.5rem; /* 133.333% */
        }
    }
    .more{
        width: 3.5rem;
        color: #000;
        font-family:'Noto Serif TC', serif;
        font-size: 0.9375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem; 
        position: absolute;  
        bottom: 10px;      
        left:13rem;      
        cursor: pointer;
    }
}