@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap%22");
  .border {
    margin: 0px;
    height: 100vh;
    background-color: #2d6047;
    display: flex;
    justify-content: center;
    #signInUp {
      width: 40vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30% 0% 30% 0%;
      .weshare {
        margin-bottom: 3rem;
        color: #ffffff;
        font-family: Pattaya;
        font-size: 100px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
      .memRL {
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: var(--font-outfit);
        font-size: 40px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px; /* 66.667% */
        margin: 1rem;
      }
      .textAndInput {
        padding: 10px;
        .iconAndInput {
          position: relative;
          .icon {
            position: absolute;
            top: 25%;
            left: 1.5rem;
          }
          .inputFrame {
            padding: 10px;
            padding-left: 4rem;
            border-radius: 6px;
            background: #fff;
            height: 2rem;
            width: 20vw;
          }
        }
      }
      .register {
        border-radius: 10px;
        background: #194a2c;
        border: 5px solid #fff;
        color: #fff;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        width: 10vw;
        margin-top: 20px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.8);
        padding: 15px;
        cursor: pointer;
      }
      .blackBlueWords {
        color: #fff;
        display: flex;
        margin: 20px;
        .swichmode {
          color: rgba(217, 248, 217);
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          background-color: #2d6047;
          cursor: pointer;
        }
      }
    }
  }

// #wholePage{
//     #border{
//         border-radius: 20px;
//         border: 1px solid rgba(0, 0, 0, 0.10);
//         background-color: #FFF;
//         display: flex;
//         justify-content: center;

//         #signInUp{
//             width: 40vw;
//         }
//         #buleBlock{
//             background-color: #7763FB;
//             width: 20vw;
//         }
//     }
//     .copyRight{
//         margin-top: 20px;
//         margin-left: 20px;
//         color: #525252;
//         font-family: Helvetica Neue;
//         font-size: 16px;
//         font-style: normal;
//         font-weight: 400;
//         line-height: 24px;
//         width: 70%;
//         text-align: right;
//     }
// }
