.searchBoard{
    display:flex;
    .searchPic{
        background: none;
        border:none;
        cursor: pointer;
    }
    .searchbox{
        height: 3rem;
        border-radius: 20px;
        margin-left:1rem;
        padding-left:1.5rem;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }
    &.active .searchbox {
        visibility: visible; // 顯示
        opacity: 1;
      }
    
}
