@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap%22");

.border {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #d9d9d9;
  background-color: white;
  align-items: center;
  .logo{
    cursor: pointer;
    
  }
  .weshare {
    margin: 41px 40px 35px 0px;
    color: #092e18;
    font-family: Pattaya;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    text-decoration:none;
    width: 15.375rem;
  }

.search_bar {
  display: flex;
  width: 340px;
  height: 3.2rem;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid lightgray; // 使用較淺的邊框顏色
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  transition: box-shadow 0.3s ease;
  background-color: none;
  .search_pic {
    margin-left: 10px;
    margin-right: 12px;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    transition: transform 0.3s ease;


  }

  .searching {
    font-family: Permanent Marker;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border: none;
    height: 2.8rem;
    width: 40%;
    padding: 0 8px;
    background-color: transparent; // 使背景色透明
    outline: none; // 移除默認的焦點框
  }

  .filter {
    color: #000;
    font-family: Permanent Marker;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-radius: 30px;
    border: 1px solid lightgray; // 同樣使用較淺的邊框顏色
    background: #fff;
    text-align: center;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 10px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      border-color: gray; // hover時使邊框稍微變深
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1); // hover時增加輕微的陰影
    }

    &:focus {
      outline: none;
    }

  }
}

  .share_post {
    text-decoration:none;
    border-radius: 30px;
    border: 2px solid #000;
    background: #2d6047;
    width: 10%;
    height: 3rem;
    display: flex;
    align-items: center; /* 垂直置中 */
    justify-content: center; /* 水平置中 */
    margin-left: 20px;
    cursor: pointer;
    color: #fff;
    font-family: Pattaya;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    margin-left: 20%;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  .share_post:hover {
    transform: scale(1.05); /* 按鈕放大5% */
    background-color: #1a402d; /* 深綠色作為hover背景 */
}
  .message_box {
    align-self: center;
    margin: 0px 0px 0px 20px;
  }
  .notification {
    align-self: center;
    margin: 0px 20px 0px 20px;
  }
  .profile_pic {
    width: 45px;
    height: 45px;
    align-self: center;
    margin-left: auto;
    margin-right: 10%;
  }
}
